@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

body {
  background: var(--c-bg-body);
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  color: var(--c-text-primary);
}

:root {
  font-family: "Inter", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

pre {
  font-family: "JetBrains Mono", monospace;
}

hr {
  border: 1px solid var(--c-sep);
  color: transparent;
}

a {
  --uno: "transition";
  color: var(--c-brand);
  text-decoration-color: rgba(var(--c-brand-3i), .3);
  &:hover {
    filter: brightness(.8);
  }
}

h1 {
  font-size: 2rem;
  color: var(--c-text-contrast);
  border-bottom: 2px solid var(--c-sep);
  margin: 0 0 1.5rem;
  @apply "lt-phone:text-[1.75rem]";
}

p {
  line-height: 28px;
  @apply "lt-phone:line-height-[24px]";
  margin: 1rem 0;
  @apply "indent-sm";
}

.card {
  background: var(--c-bg-card-alt);
  color: var(--c-text-primary);
  font-size: 16px;
  border-radius: 0.5rem;
  font-family: inherit;
  border: 1px solid var(--c-sep);
  box-sizing: border-box;
}

input, textarea, select {
  @extend .card;
  color: var(--c-text-contrast);
  border-radius: 0.25rem;
  padding: 8px 10px;
  min-width: 0;
  &:focus {
    outline: none;
    border: 1px solid var(--c-sep-accent);
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

ul {
  line-height: 28px;
  padding-left: 24px;
  display: flex;
  flex-direction: column;
  gap: .5rem;

  ::marker {
    color: var(--c-sep-accent);
  }
}

.code, code {
  @apply "font-mono";
  font-size: inherit;
  background-color: var(--c-bg-card);
  padding: 1px 2px;
  border-radius: 0.25rem;
  border: 1px dashed var(--c-sep);
}

label {
  @apply "text-gray-5";
  font-size: 14px;
}

button {
  all: unset;
}

.unstyled {
  all: unset;
}