:root {
  --c-brand: #a7e1cb;
  --c-brand-3i: 167, 255, 204;

  --c-bg-body: #0C0C10;
  --c-bg-main: #131318;
  --c-bg-card: #191922;

  --c-text-secondary: #9e9e9e;
  --c-text-primary: #cacaca;
  --c-text-contrast: #ffffff;

  --c-sep: #3f3f50;
  --c-sep-accent: #6c6c83;
  --c-shadow: rgba(0, 0, 0, 0.7);
}
