:root {
  --c-brand: #42B883;
  --c-brand-3i: 66, 184, 131;

  --c-bg-body: #FFFFFF;
  --c-bg-main: #f5f6f8;
  --c-bg-card: #e8e9ec;

  --c-text-secondary: #434343;
  --c-text-primary: #303030;
  --c-text-contrast: #000000;

  --c-sep: rgba(29, 30, 32, 0.28);
  --c-sep-accent: rgba(57, 57, 62, 0.7);
  --c-shadow: rgba(0, 0, 0, 0.1);
}

.dark-mode {
  --c-brand: #a7e1cb;
  --c-brand-3i: 167, 255, 204;

  --c-bg-body: #0C0C10;
  --c-bg-main: #131318;
  --c-bg-card: #191922;

  --c-text-secondary: #9e9e9e;
  --c-text-primary: #cacaca;
  --c-text-contrast: #ffffff;

  --c-sep: #2e2e3a;
  --c-sep-accent: #545467;
  --c-shadow: rgba(0, 0, 0, 0.7);
}

